<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<P>新着クイズ一覧</P>
		<div>
			<% @question.each do |question| %>
			    <div class="question-solve">
			    	<div class="question-content">
			    		Q.
			    		<%= question.content %>
			    	</div>
			    	<div>
			    		<% question.choices.each do |choice| %>
			    			<div class="check btn btn-info btn-block question-choice">
			    		    	<%= choice.sentence %>
			    		    </div>
			    		<% end %>
			    	</div>
			    	<div>
			    		<div class="question-genre">
			    			<%= question.genre.name %>
			    		</div>
			    	</div>
			    	<div class="comment", style="display:none"><!-- 解説は初期状態では非表示 -->
			    		<%= question.comment %>
			    	</div>
			    </div>
			<% end %>
		</div>
	</div>
</div>

<script>
    $(function () {
	    $('check').on('click', () =>{
		    $('comment').animate({width: 'show' }, 'slow');
		    //解答を選んだ時に、解説を表示
	    });
	});
</script>