<div class="row">
	<div>
		<div class="info">
			<div class="info-text">
				<p>
					このサイトは<br>
					クイズ好きの<br>
					クイズ好きによる<br>
					クイズ好きのためのサイトです！<br>
					クイズを解くだけだはなく<br>
					オリジナルクイズの作成もできます！
				</p>
			</div>
		</div>
		<div class="info-use">
			<p>How to Use</p>
			<p>
				クイズ一覧からクイズを解こう！<br>
				会員登録していただくとクイズの作成とクイズのお気に入りが出来ます。<br>
				お気に入りしたクイズは、いいね一覧から見直せるぞ！
			</p>
		</div>
		<div class="info-make">
			<p>How to Make</p>
			<p>
				注意事項<br>
				正解の選択肢には必ず、正答ボタンにチェックを入れて下さい。<br>
				解説は他のユーザーに分かりやすいように書きましょう！<br>
				クイズはサイトの利用ルールに則っていると判断された物のみ掲載されます。
			</p>
		</div>
		<div class="info-caution">
			<p>サイト利用上のの注意事項</p>
		    <p>
		    	公序良俗に反するクイズは投稿できません。<br>
		    	管理者権限で削除させていただきます。
		    </p>
		</div>
	</div>
</div>