<div>
	<div>
		<div>
			<p>
				このサイトはクイズ好きのためのサイトです！<br>
				クイズを解くだけだはなく、オリジナルクイズの作成もできます！
			</p>
		</div>
		<div>
			<p>How to Use</p>
			<%= 画像　%>
			<%= 画像　%>
		</div>
		<div>
			<p>How to Make</p>
			<%= 画像　%>
			<p>
				注意事項<br>
				正解の選択肢には必ず、正答ボタンにチェックを入れて下さい。<br>
				クイズはサイトの利用ルールに則っていると判断された物のみ掲載されます。
			</p>
		</div>
		<div>
			<p>サイト利用上のの注意事項</p>
		    <p>
		    	公序良俗に反するクイズは投稿できません。
		    	管理者権限で削除させていただきます。
		    </p>
		</div>
	</div>
</div>