<div>
	<div>
		<p>
			Welcome to TheForestOfQuiz !!
		</p>
		<div>
			<%= link_to "初めての方はコチラ！", about_path %>
		</div>
		<div>
			<%= link_to "管理", new_admin_session_path %>
		</div>
	</div>
</div>