<div class="row">
	<div class="top">
		<p class="top-text" style="padding-top: 15%;">
			Welcome to TheForestOfQuiz !!
		</p>
		<div class="top-text">
			<%= link_to "初めての方はコチラ！", about_path, {style: 'color:lime'} %>
		</div>
		<div class="top-text">
			<%= link_to "管理", new_admin_session_path %>
		</div>
	</div>
</div>